#container{
  overflow: hidden;
}

body{
  background: white;
  margin:0;
}

#header{
  background: url('HoustonSkyline.jpeg');
  height: 300px;
  background-size: 100%;
  background-position: center;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

main{
  margin-left: 27%;
  margin-right: 27%;
}

/*       */
/*SIDEBAR*/
/*       */

#sidebar{
  background:white;
  float:left;
  height: 100%;
  width: 28%;
  position: relative;
}

#logo{
  background:black url('IronYardLogo.gif');
  background-size:70%;
  border-radius: 10000px;
  margin-left:auto;
  margin-right: auto;
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
  border-color: white;
  border-width: 6px;
  z-index: 5;
  position: relative;
  top: -46px;
}

h3, h4 {
  display: block;
  font-family: helvetica;
  color:black;
}

#sidebar h3, #sidebar h4 {
  text-align: left;
  margin:0 0 0 0.5em;
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  width: 100%;
}

#sidebar h3 {
  color: grey;
  top: -2.5em;
}

#sidebar h4 {
  color:darkgrey;
}

#blurb {
  color: darkgrey;
  font-family: times;
  margin:0 0 0 0.5em;
  height:6em;
  position: relative;
  top:-1em;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: lightgrey;
  width: 100%;
}

fieldset{
  border-style: none;
}

#search, #search:focus{
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
  outline-style: none;
  background: url('SearchLogo.png') white;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 95%;
}

/*       */
/*CONTENT*/
/*       */

#content{
  background:white;
  float:right;
  height:100%;
  width: 65%;
}

#content h1{
  font-family: helvetica;
  margin-top: 50px;
}

#content .byline{
  font-style: italic;
  text-decoration: none;
  color: grey;
  font-size: 14px;
}

#content .byline a{
  text-decoration: none;
}

#content img{
  width:90%;
}

/*      */
/*POP UP*/
/*      */

#popup{
  background:white;
  position:fixed;
  bottom:0;
  right:0;
  width:16em;
  height:4.5em;
  border-style: groove;
  border-width: thin;
  border-color: darkgrey;
  border-radius: 6px;
  /*opacity:1;
  visibility: visible;*/
}

.popup-header{
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: lightgrey;
  height: 40%;
}

.popup-header h4{
  margin: auto;
  position: relative;
  bottom: -23%;
  left: 3%;
  font-size: 12px;
}

.popup-header .close {
  position: fixed;
  bottom: 52px;
  right: 10px;
  /*transition: all 200ms;*/
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

/*.overlay {
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}*/
/*.overlay:target {
  visibility: visible;
  opacity: 1;
}*/

.popup-body{
  /*border-bottom-style: solid;
  border-bottom-width: thin;*/
  border-bottom-color: lightgrey;
  /*height: 60%;*/
  /*display: inline;*/
}

.twitter-img {
  max-height: 20px;
  max-width: 30px;
  margin: 3px 30px 3px 3px;
  position: relative;
  bottom: -3px;
  border-style: solid;
  border-width: thick;
}
.twitter-text {
  font-family: arial;
  font-size: 11px;
  text-align: right;
  position:fixed;
  bottom: 9px;
  right: 85px;
}

.twitter-text a{
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  /*display: inline-block;*/
  /*vertical-align: top;*/

}

.twitter-text p{
  /*display: inline-block;*/
}

.follow-button {
  background:dodgerblue;
  height:25px;
  width:70px;
  font-weight: bolder;
  position: absolute;
  top: 40px;
  right: 7px;
}

.follow-button p{
    font-family: helvetica;
    font-size: 13px;
    color:white;
    margin: auto;
    position: absolute;
    top: 5px;
    right: 10px;
}
